{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}CenterClick{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h2>{% blocktrans %}Welcome to CenterClick Solutions{% endblocktrans %}</h2>
            <p>
                {% blocktrans %}
                In addition to what is provided by the "zero" project, this project
                provides thorough integration with django-user-accounts, adding
                comprehensive account management functionality. It is a foundation
                suitable for most sites that have user accounts.
                {% endblocktrans %}
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="feature-columns">
                <div>
                    <i class="fa fa-home fa-5x"></i><br>
                    {% blocktrans %}
                    <h3>Condominium</h3>
                    Condominium Management System is designed to meet all the needs of a commercial or residential.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-cogs fa-5x"></i><br>
                    {% blocktrans %}
                    <h3>Order of Service</h3>
                    Reusable apps provide common infrastructure, back-end functionality, and user-facing components.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-list-alt fa-5x"></i><br>
                    {% blocktrans %}
                    <h3>Reservation requests</h3>
                    Themes provide default templates and stylesheets for quick prototyping and easy customization.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
